module zabbix-{{ zabbix_function }} 1.0;

require {
    type zabbix_t;
    type zabbix_var_run_t;
    type zabbix_port_t;
    type var_lib_t;
    type fs_t;
    type httpd_t;
    type http_cache_port_t;
    type tmp_t;
    class unix_stream_socket connectto;
    class process setrlimit;
    class file { create append getattr open };
    class filesystem getattr;
    class tcp_socket name_connect;
    class sock_file { create write unlink };
    class sock_file { create unlink };
}

#============= zabbix_t ==============
allow zabbix_t self:process setrlimit;
allow zabbix_t self:unix_stream_socket connectto;
allow zabbix_t var_lib_t:file { create append getattr open };
allow zabbix_t fs_t:filesystem getattr;
allow zabbix_t zabbix_var_run_t:sock_file { create unlink };
allow httpd_t http_cache_port_t:tcp_socket name_connect;
allow zabbix_t tmp_t:sock_file { create write unlink };
allow zabbix_t zabbix_port_t:tcp_socket name_connect;

